.input-group {
      margin-bottom: 15px;
}

:host /deep/ .ui-select-choices {
    display: block !important;
}

:host /deep/ .ui-select-toggle .dropdown-toggle {
    float: right;
}

:host /deep/ .ui-select-toggle.caret-hidden .dropdown-toggle {
    display: none;
}