.flex-col {
    display: flex;
    flex-flow: column;
}

.flex-row {
    display: flex;
    flex-flow: row;
}

.flex-0 {
    flex: 0 0 auto;
}

.flex-1 {
    flex: 1 0 auto;
}

.flex-2 {
    flex: 2 0 auto;
}

.flex-3 {
    flex: 3 0 auto;
}

.flex-4 {
    flex: 4 0 auto;
}

.flex-5 {
    flex: 5 0 auto;
}

.flex-6 {
    flex: 6 0 auto;
}

.flex-7 {
    flex: 7 0 auto;
}

.flex-8 {
    flex: 8 0 auto;
}

.flex-9 {
    flex: 9 0 auto;
}

.flex-10 {
    flex: 10 0 auto;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.vr {
    margin-left: 15px;
    margin-right: 15px;
    border: 0;
    border-left: 1px solid #eee;
    height: 80%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.static {
    position: static;
}

.padding-1 {
    padding: 1px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-4 {
    padding: 4px;
}

.padding-5 {
    padding: 5px;
}

.padding-6 {
    padding: 6px;
}

.padding-7 {
    padding: 7px;
}

.padding-8 {
    padding: 8px;
}

.padding-9 {
    padding: 9px;
}

.padding-10 {
    padding: 10px;
}

.w-25px {
    width: 25px;
}

.w-50px {
    width: 50px;
}

.w-75px {
    width: 75px;
}

.w-100px {
    width: 100px;
}

.w-125px {
    width: 125px;
}

.w-150px {
    width: 150px;
}

.w-200px {
    width: 200px;
}

.w-250px {
    width: 250px;
}

.w-300px {
    width: 300px;
}

.h-30px {
    height: 30px;
}

.h-50px {
    height: 50px;
}

.h-100px {
    height: 100px;
}

.h-125px {
    height: 125px;
}

.h-150px {
    height: 150px;
}

.h-200px {
    height: 200px;
}

.h-250px {
    height: 250px;
}

.h-300px {
    height: 300px;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.scroll-x {
    overflow-x: auto;
}

.scroll-y {
    overflow-y: auto;
}

.w-5vw {
    width: 5vw;
}

.w-10vw {
    width: 10vw;
}

.w-15vw {
    width: 15vw;
}

.w-20vw {
    width: 20vw;
}

.w-25vw {
    width: 25vw;
}

.w-30vw {
    width: 30vw;
}

.w-35vw {
    width: 35vw;
}

.w-40vw {
    width: 40vw;
}

.w-45vw {
    width: 45vw;
}

.w-50vw {
    width: 50vw;
}

.w-55vw {
    width: 55vw;
}

.w-60vw {
    width: 60vw;
}

.w-65vw {
    width: 65vw;
}

.w-70vw {
    width: 70vw;
}

.w-75vw {
    width: 75vw;
}

.w-80vw {
    width: 80vw;
}

.w-85vw {
    width: 85vw;
}

.w-90vw {
    width: 90vw;
}

.w-95vw {
    width: 95vw;
}

.w-100vw {
    width: 100vw;
}

.h-5vh {
    height: 5vh;
}

.h-10vh {
    height: 10vh;
}

.h-15vh {
    height: 15vh;
}

.h-20vh {
    height: 20vh;
}

.h-25vh {
    height: 25vh;
}

.h-30vh {
    height: 30vh;
}

.h-35vh {
    height: 35vh;
}

.h-40vh {
    height: 40vh;
}

.h-45vh {
    height: 45vh;
}

.h-50vh {
    height: 50vh;
}

.h-55vh {
    height: 55vh;
}

.h-60vh {
    height: 60vh;
}

.h-65vh {
    height: 65vh;
}

.h-70vh {
    height: 70vh;
}

.h-75vh {
    height: 75vh;
}

.h-80vh {
    height: 80vh;
}

.h-85vh {
    height: 85vh;
}

.h-90vh {
    height: 90vh;
}

.h-95vh {
    height: 95vh;
}

.h-100vh {
    height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.select-none {
    user-select: none;
}

.div-odd:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
}

.div-even:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.03);
}

.color-red {
    color: #E53935;
}

.color-red-hover:hover {
    color: #C62828;
}

.color-green {
    color: #43A047;
}

.color-green-hover:hover {
    color: #2E7D32;
}

.color-blue {
    color: #039BE5;
}

.color-blue-hover:hover {
    color: #0277BD;
}

.font-size-8px {
    font-size: 8px;
}

.font-size-9px {
    font-size: 9px;
}

.font-size-10px {
    font-size: 10px;
}

.font-size-11px {
    font-size: 11px;
}

.font-size-12px {
    font-size: 12px;
}

.font-size-13px {
    font-size: 13px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-15px {
    font-size: 15px;
}

.font-size-16px {
    font-size: 16px;
}

.font-size-17px {
    font-size: 17px;
}

.font-size-18px {
    font-size: 18px;
}

.font-size-19px {
    font-size: 19px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-21px {
    font-size: 21px;
}

.font-size-22px {
    font-size: 22px;
}

.font-size-23px {
    font-size: 23px;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-26px {
    font-size: 26px;
}

.font-size-27px {
    font-size: 27px;
}

.font-size-28px {
    font-size: 28px;
}

.font-size-29px {
    font-size: 29px;
}

.font-size-30px {
    font-size: 30px;
}