:host {
    position: absolute;
    top: 0px;
}

.window-wrapper {
    background-color: #f7f7f7;
    position: absolute;
    width: auto;
    float: left;
    z-index: 9999;
    border-radius: 0px 15px 0 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    min-width: 500px;
}

.window-btn  {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    color: inherit;
    border-radius: 3px;
    height: 24px;
    width: 27px;
}
.window-close-btn {
    right: 9px;
    top: 7px;
    padding: 4px 8px;
}

.window-close-btn:hover {
    background: rgba(200, 100, 100, 1);
    color: white;
}

.window-minimize-btn {
    right: 40px;
    top: 7px;
    padding: 1px 6px;
}

.window-minimize-btn:hover {
    background: #1F91EF;
    color: white;
}

.window-restore-btn {
    right: 40px;
    top: 7px;
    padding: 4px 5px;
    line-height: 16px;
    width: 27px;
}

.window-restore-btn:hover {
    background: #6490c8;
    color: white;
}

.window-content-wrapper {
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
    clear: both;
    border-radius: 0px 0 0 15px;
    max-height: 80vh;
    max-width: 90vw;
    min-width: 500px;
    min-height: 50px;
    transition: .3s max-height ease;
}

.window-content-wrapper.minimizado {
    max-height: 0;
    min-height: 0;
}

.window-header {
    background: rgba(240, 240, 240, 0.95);
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 0px 15px 0 0;
    cursor: move;
}

:host /deep/ .window-sub-header {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    padding-bottom: 0;
    background-color: #fff;
    border-radius: 0 15px 0 0;
}

.sub-header {
    transition: .5s all ease;
}
.sub-header.minimizado{
    max-height: 0;
    min-height: 0;
    overflow: hidden;
}

:host /deep/ .window-content {
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    padding: 6px;
}

.resize-dragger {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0px;
    right: 0px;
    cursor: se-resize;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #333 transparent;
}