<form class="formly" role="form" novalidate [formGroup]="form" style="float: left; width: 100%; clear: both">
    <formly-form [model]="model" [fields]="formlyFields" [options]="options" [form]="form">
    </formly-form>
    <br>
    <div class="col-sm-12">
        <button type="button" (click)="submit(modelo)" class="btn btn-primary" [disabled]="!form.valid"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
        <button type="button" (click)="cancelar()" class="btn btn-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
    </div>
</form>
Model:
<br>
<textarea rows="20" cols="5" style="width: 100%">
{{JSON.stringify(model, null, 2)}}
</textarea>
